* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: 'arial', sans-serif;
}

header {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #b4b4b4;
}

header > * {
    position: absolute;
    display: inline-block;
    margin: auto 20px;
    top: 0px;
    bottom: 0px;
}

header > h2 {
    line-height: 50px;
}

#cluster-selector {
    padding: 0px 16px;
    right: 0px;
    height: 30px;
    font-weight: bold;
    background-color: #23B3FF;
    cursor: pointer;
}

main {
    padding-top: 10px;
}

#filters {
    padding: 10px;
}

label {
    display: inline-block;
    margin-right: 20px;
}

label > span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

#filters select, #filters input {
    padding: 5px 10px;
    background-color: #E1E1E1;
}

#filters input[type=submit] {
    background-color: #23B3FF;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

tr:nth-child(odd) > * {
    background-color: #e7e7e7;
}

tr > * {
    padding: 10px 5px;
    overflow: hidden;
    font-family: monospace;
    text-overflow: ellipsis;
    text-align: right;
}

tr>:nth-child(6), tr>:nth-child(11), tr>:nth-child(12), tr>:nth-child(13), tr>:nth-child(15), tr>:nth-child(17) {
    max-width: 140px;
    text-align: left;
}

tr>:nth-child(14), tr>:nth-child(16) {
    text-align: center;
}

td > button {
    color: blue;
    background-color: transparent;
    cursor: pointer;
}

th {
    border-bottom: 1px solid #b4b4b4;
}
